.playlist-card {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  align-items: center;
}
.playlist-card:first-child {
  margin-top: 0;
}

.playlist-inner-card {
  display: flex;
  align-items: center;
}
.artist-band {
  margin: 0 1rem;
}

.playlist-card img {
  border: 2px white solid;
  border-radius: 8px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}
