section.playlist-card,
.playlist-card > article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
section.playlist-card {
  margin: 1rem 0;
}
.playlist-card > article {
  gap: 1rem;
  align-items: center;
}
.playlist-card img {
  width: 5rem;
  height: 5rem;
  border: 2px white solid;
  border-radius: 8px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

/* === Tablet === */
@media (min-width: 768px) {
  .playlist-card > article > p {
    font-size: 30px;
  }
}
/* === Desktop === */
@media (min-width: 1024px) {
  .material-symbols-outlined {
    font-size: 40px;
  }
}
