.playing-music-card {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  min-height: 80vh;
}

.playing-inner-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* === Tablet === */
@media (min-width: 768px) {
  .playing-music-card {
    margin-bottom: 0rem;
  }
}
